<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>moodify.</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/emotion.css">
    <script>
        $(function() {
        $('a[href*=#]').on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
        });
        });
    </script>
</head>
<body>
        <section id="section01" class="demo">
            <header>
                </a>
                <a id="slogan">
                <h1>Finding Music Playlist </h1>
                <br>
                <h1>Based On Your Moods</h1>
                <br>
                <h1>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;👇🏻👇🏻👇🏻</h1>
                </a>
            <nav>
                <a href="#" target="_blank" id="logo">
                <h4><b>moodify.</b></h4>
            </nav>
        
            </header>
            
            <a href="#section02"></a>
            <video autoplay muted loop id="myVideo">
                <source src="../static/video/D.mp4" type="video/mp4">
            </video>
        
        </section>

        <section id="section02" class="demo">
            <a id="selection">
                <h1>How Do You Feel Now : </h1>
            </a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                        <a href="/love" target="_blank"  id="love">
                          <div class="emoji  emoji--love">
                            <div class="emoji__heart" ></div>
                           </div> 
                        </a>    
                        <!-- Love  -->
                        
                        <a href="/haha" target="_blank"  id="haha">
                          <div class="emoji  emoji--haha">
                            <div class="emoji__face">
                              <div class="emoji__eyes"></div>
                              <div class="emoji__mouth">
                                <div class="emoji__tongue"></div>
                              </div>
                            </div>  
                          </div>
                        </a>
                        
                          <!-- Haha -->
                          <a href="/yay" target="_blank"  id="yay">
                          <div class="emoji  emoji--yay">
                            <div class="emoji__face">
                              <div class="emoji__eyebrows"></div>
                              <div class="emoji__mouth"></div>
                            </div>
                          </div>
                          </a>

                          <!-- Yay -->
                          <a href="/sad" target="_blank" id="sad">
                          <div class="emoji  emoji--sad">
                            <div class="emoji__face">
                              <div class="emoji__eyebrows"></div>
                              <div class="emoji__eyes"></div>
                              <div class="emoji__mouth"></div>
                            </div>
                          </div>
                          </a>

                          <!-- Sad -->
                          <a href="/angry" target="_blank"  id="angry">
                          <div class="emoji  emoji--angry">
                            <div class="emoji__face">
                              <div class="emoji__eyebrows"></div>
                              <div class="emoji__eyes"></div>
                              <div class="emoji__mouth"></div>
                            </div>
                          </div>
                        </a>
                          <!-- Angry -->
  

        </section>

        <!-- <section id="section03" class="demo">
        <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/697693101&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

        </section> -->

        <section id="section04" class="demo">
                <a id="tuned">
                <h1>STAY TUNED🤘🏻!!!</h1>
                </a>
                <a id="logo4">
                <h4>moodify.</h4>
                </a>
                <a id="represent">
                <h5>&copy;2019</h5>
                </a>
    
                <video autoplay muted loop id="Video">
                    <source src="../static/video/f.mp4" type="video/mp4">
                </video>
                
        </section>
        
</body>
</html>

  