<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foods</title>
</head>
<body>
    <h1>FOODS</h1>
    <ul>
        {% for food in foods %}
            <div>
                <a href="/food_detail/{{ loop.index0 }}">Details</a>
                <li>{{ food.name }}</li>
                <img src="{{ food.img }}">
                <a href="{{ food.link }}">Order</a>
            </div>
        {% endfor %}
    </ul>
</body>
</html>